html {
  width: 100%;
  background-color: rgb(217, 234, 234);
}
table input {
  width: 100%
}
input:not ([type="image"]){
  box-sizing: border-box
}
#editForm tfoot input[type="text"]{
  width: 100%;
}
